body {
    background-color: black;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    user-select: none;
    touch-action: manipulation;
}

div, button {
    display: flex;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 10vw;
}

#luck-container {
    z-index: 5;
    position: absolute;
    width: 100vw;
    aspect-ratio: 4 / 1;
    background: linear-gradient(rgba(50, 50, 50), rgba(75, 75, 75), rgba(50, 50, 50));
    gap: 2.5vw;
    overflow: hidden;
}

#luck-container-line {
    width: 1.5vw;
    height: 25vw;
    position: fixed;
    background-color: rgb(200, 200, 200);
    z-index: 100;
}

.luck {
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: gray;
    transition: all 100ms linear:
}

.luck-text {
    font-size: 4.5vw;
    stroke: black;
    stroke-width: .25vw;
    stroke-linejoin: round;
    word-wrap: wrap;
}

#roll {
    position: relative;
    width: 50vw;
    aspect-ratio: 3 / 1;
    background-color: rgb(150, 150, 150);
    top: 35%;
    border: 1vw solid rgb(100, 100, 100);
}

#roll:active {
    width: 55vw;
}

#roll span {
    color: rgb(100, 100, 100);
    font-size: 8vw;
}

#roll:active span {
    font-size: 8.8vw;
}

#multi-info {
    font-size: 5vw;
    position: absolute;
    top: 0%;
}

#frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
